Q) Create a python script to do ordinal encoding and one hot encoding using basic python functions and just pandas and numpy libraries

In [148]:
import pandas as pd
import numpy as np

In [149]:
# creating some random data
data = [
    [0, 10, "small", "R1"], 
    [2, 12, "big", "R2"], 
    [4, 14, "med", "R3"], 
    [6, 16, "big", "R4"], 
    [8, 18, "big", "R5"]
]
df = pd.DataFrame(data, columns=["feature1", "feature2", "category1", "category2"])

In [150]:
df
# here category1 can be converted using ordinal encoing
# while category2 can be converted using OHE

   feature1  feature2 category1 category2
0         0        10     small        R1
1         2        12       big        R2
2         4        14       med        R3
3         6        16       big        R4
4         8        18       big        R5

In [151]:
# ordinal encoding
category = input("enter the column name to be ordinally encoded: ")

print("These are the unique categories: ", df[category].unique())
order = input("tell the order of these categories seperated by commas: ") # small,big,med
order_list = order.split(",")

encoding_scheme = {cat: i for i, cat in enumerate(order_list) }
df[category] = df[category].map(encoding_scheme)

These are the unique categories:  ['small' 'big' 'med']

In [152]:
df

   feature1  feature2  category1 category2
0         0        10          0        R1
1         2        12          1        R2
2         4        14          2        R3
3         6        16          1        R4
4         8        18          1        R5

In [153]:
# one hot encoding
# create all the new unique columns
# find val in category2, find the new col and put that as 1 and rest all as 0s

cate = input("enter the column name to be one hot encoded: ")
unique_vals = df[cate].unique()

# seperatly creating a set of columns, (no. of rows, no. of cols)
OHE_data = np.zeros((df.shape[0], len(unique_vals)))  

# enumerate function adds a counter var to any iterable
for i, category in enumerate(df[cate]): 
    for j, unique in enumerate(unique_vals):
        if unique == category:
            OHE_data[i][j] = 1  


OHE_df = pd.DataFrame(OHE_data, columns=unique_vals)
df = pd.concat([df, OHE_df], axis=1)
df = df.drop(columns=[cate])

In [154]:
df

   feature1  feature2  category1   R1   R2   R3   R4   R5
0         0        10          0  1.0  0.0  0.0  0.0  0.0
1         2        12          1  0.0  1.0  0.0  0.0  0.0
2         4        14          2  0.0  0.0  1.0  0.0  0.0
3         6        16          1  0.0  0.0  0.0  1.0  0.0
4         8        18          1  0.0  0.0  0.0  0.0  1.0